@model IEnumerable<HRiVote.Models.EmployeeFiles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-sm-offset-1">
    <h2 class="text-center">Index</h2>
    @using (Html.BeginForm("IndexPost", "Home", FormMethod.Post))
    {
        <div class="pull-right">
            @Html.Label("Filter by Titles")
            @Html.DropDownList("Titles", new List<SelectListItem>()
   {
       new SelectListItem() {Text="Vacation",Value="Vacation",Selected=false },
       new SelectListItem() {Text="Sick",Value="Sick",Selected=false },
       new SelectListItem() {Text="Official Leave",Value="Official Leave",Selected=false }
        }, "---Filter---", new { @class = "form-control" })
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    <table id="table" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.employee.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th>@Html.DisplayNameFor(x => x.Type)</th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.employee.LastName)
                    </td>
                    <td>
                        <a href="@Url.Content(item.File)"><img src="@Url.Content(item.File)" alt="@Html.DisplayFor(modelItem => item.File)" width="100" /></a>
                    </td>
                    <td>@Html.DisplayFor(x => item.Type)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        <button type="button" class="btn btn-danger js-delete" id="btn" data-project-id="@item.Id">Delete</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    
    }
</div>
   
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $("#table").DataTable();
        $("#table").on("click", ".js-delete", function () {
            var button = $(this);
            var dialog = bootbox.dialog({
                title: 'Remove',
                message: "<p>Are you sure you want to remove it</p>",
                buttons: {
                    no: {
                        label: "Cancel",
                        className: 'btn1 btn-default',
                        callback: function () {
                            dialog.modal('hide')
                        }
                    },
                    ok: {
                        label: "Yes",
                        className: 'btn1 btn-danger',
                        callback: function () {
                            $.ajax({
                                url: "/api/EmployeeFile/" + button.attr("data-project-id"),
                                method: "DELETE",
                                contentType:"Json",
                                success: function () {

                                    button.parents("tr").remove();
                                }
                            })

                        }
                    }
                }
            });
        });
    });
</script>
    }