@model IEnumerable<HRiVote.Models.Employee>

@{
    ViewBag.Title = "Index";
}
<div class="container Back">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">

    <h2 class="text-center">Index</h2>
    <div class="row">
        


            <p>
                @Html.ActionLink("Create New", "AddEmployee", null, new { @class = "btn btn-primary fa fa-pencil" })
            </p>

            <table id="myTable" class="table table-hover table-responsive col-sm-12">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(x => x.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(x => x.job.Title)
                        </th>

                        <th>
                            @Html.DisplayNameFor(x => x.IsAvailable)
                        </th>

                        <th>
                            @Html.DisplayNameFor(x => x.Photo)
                        </th>
                        <th>Action Links</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
            {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>

                            <td>
                                @Html.DisplayFor(x => item.job.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAvailable)
                            </td>
                            <td>
                                @if (item.Photo == "No photo uploaded")
                                {
                                    @Html.DisplayFor(x => item.Photo)
                                }
                                else
                                {<img src="@Url.Content(item.Photo)" alt="@Html.DisplayFor(x => item.Photo)" width="100" />}
                            </td>
                            <td class="">
                                @Html.ActionLink(" Edit", "Edit", new { id = item.ID }, new { @class = "fa fa-pencil btn btn-default btn-primary" }) |
                                @Html.ActionLink(" Details", "Details", new { id = item.ID }, new { @class = " fa fa-search btn  btn-info" }) |
                                @Html.ActionLink(" Delete", "Delete", new { id = item.ID }, new { @class = "fa fa-trash btn btn-default btn-danger" })
                            </td>
                        </tr>
                    </tbody>
                }


            </table>

        </div>
    </div>



@section scripts{

<script>
    $(document).ready(function () {
        $("#myTable").DataTable();
    });
</script>    

}