@model HRiVote.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}
<br /><br /><br /><br /><br />
<div class="container Back col-sm-offset-1" style="border: solid transparent;border-radius: 20px;">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">

    <h2 class="text-center">Index</h2>

    <div class="container">
        <p>
            @Html.ActionLink("Create New", "AddEmployee", null, new { @class = "btn btn-primary fa fa-pencil" })
        </p>
        <br /><br />
        @using (Html.BeginForm("IndexPost", "Employee", FormMethod.Post))
        {
            <div class="col-sm-4 ">
                @Html.Label("Job Possitions")
                @Html.DropDownList("pos", new SelectList(Model.positions, "ID", "Title"), "---Filter by Job Posstions---", new { @class = "form-control", @id = "pos" })
            </div>
            <div class="col-sm-4 ">
                @Html.Label("Skills")
                @Html.DropDownList("skil", new SelectList(Model.skils, "ID", "Skill"), "---Filter by Skills---", new { @class = "form-control", @id = "skil" })
            </div>
            <br /><br />
            <input type="submit" class="btn btn-success"value="search " />
        }
    </div>
    <div >
        <br /><br />
        <table id="myTable" class="table table-hover table-bordered col-sm-offset-3" style="float:right;">
            <thead>
                <tr>
                    <th>
                        Last Name
                    </th>
                    <th>
                        First Name
                    </th>

                    <th>
                        Job title
                    </th>

                    <th>
                        Available
                    </th>

                    <th>
                        Photo
                    </th>
                    <th>Action Links</th>
                </tr>
            </thead>
            @foreach (var item in Model.emps)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>

                        <td>
                            @Html.DisplayFor(x => item.job.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAvailable)
                        </td>
                        <td>
                            @if (item.Photo == "No photo uploaded")
                            {
                                @Html.DisplayFor(x => item.Photo)
                            }
                            else
                            {<img src="@Url.Content(item.Photo)" alt="@Html.DisplayFor(x => item.Photo)" width="100" />}
                        </td>
                        <td class="btn-group-sm">
                            @Html.ActionLink(" Edit", "Edit", new { id = item.ID }, new { @class = "fa fa-pencil btn1 btn-sm btn-default btn-primary" }) |    
                            @Html.ActionLink(" Details", "Index", new { id = item.ID }, new { @class = " fa fa-search btn1 btn-sm  btn-info" }) |                    
                            @Html.ActionLink(" Delete", "Delete", new { id = item.ID }, new { @class = "fa fa-trash btn1 btn-sm btn-default btn-danger" })
                            
                        </td>
                    </tr>
                </tbody>
            }


        </table>

    </div>
</div>

<br />
<br />
@if(Model.employee != null)
{
    @Html.Partial("_PartialEmployeeView", Model.employee)
}


@section scripts{
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable();

          
        });
    </script>

}