@model HRiVote.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}
<div class="container Back">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<<<<<<< HEAD

    <h2 class="text-center">Index</h2>

    <div class="row">
        <p>
            @Html.ActionLink("Create New", "AddEmployee", null, new { @class = "btn btn-primary fa fa-pencil" })
        </p>
        <br /><br />
        @using (Html.BeginForm("IndexPost", "Employee", FormMethod.Post))
        {
            <div class="col-sm-4 ">
                @Html.Label("Job Possitions")
                @Html.DropDownList("pos", new SelectList(Model.positions, "ID", "Title", "---Filter by Job Posstions---"), new { @class = "form-control" ,@id="pos"})
            </div>
            <div class="col-sm-4 ">
                @Html.Label("Skills")
                @Html.DropDownList("skil", new SelectList(Model.skils, "ID", "Skill"), "---Filter by Skills---", new { @class = "form-control",@id="skil" })
            </div>
            <br /><br />
        }
    </div>
    <div class="row">
        <br /><br />
        <table id="myTable" class="table table-hover table-responsive col-sm-12">
            <thead>
                <tr>
                    <th>
                        Last Name
                    </th>
                    <th>
                        First Name
                    </th>

                    <th>
                        Job title
                    </th>

                    <th>
                        Available
                    </th>

                    <th>
                        Photo
                    </th>
                    <th>Action Links</th>
                </tr>
            </thead>
            @foreach (var item in Model.emps)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>

                        <td>
                            @Html.DisplayFor(x => item.job.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAvailable)
                        </td>
                        <td>
                            @if (item.Photo == "No photo uploaded")
                            {
                                @Html.DisplayFor(x => item.Photo)
                            }
                            else
                            {<img src="@Url.Content(item.Photo)" alt="@Html.DisplayFor(x => item.Photo)" width="100" />}
                        </td>
                        <td class="">
                            @Html.ActionLink(" Edit", "Edit", new { id = item.ID }, new { @class = "fa fa-pencil btn btn-default btn-primary" }) |
                            @Html.ActionLink(" Details", "Details", new { id = item.ID }, new { @class = " fa fa-search btn  btn-info" }) |
                            @Html.ActionLink(" Delete", "Delete", new { id = item.ID }, new { @class = "fa fa-trash btn btn-default btn-danger" })
                        </td>
                    </tr>
                </tbody>
            }


        </table>

    </div>
</div>
=======

    <h2 class="text-center">Index</h2>

    <div class="row">   
            <p>
                @Html.ActionLink("Create New", "AddEmployee", null, new { @class = "btn btn-primary fa fa-pencil" })
            </p>
            <br /><br />
        @using (Html.BeginForm("IndexPost", "Employee", FormMethod.Post))
        {
        <div class="col-sm-4 ">
            @Html.Label("Job Possitions")
            @Html.DropDownList("pos",new SelectList(Model.positions,"ID","Title" ,"---Filter by Job Posstions---"),new {@class="form-control"})
        </div>
        <div class="col-sm-4 ">
            @Html.Label("Skills")
            @Html.DropDownList("skil",new SelectList(Model.skils,"ID", "Skill"),"---Filter by Skills---",new { @class="form-control"})
        </div>
        <br /><br />
        }
        </div>
        <div class="row">
            <br /><br />
            <table id="myTable" class="table table-hover table-responsive col-sm-12">
                <thead>
                    <tr>
                        <th>
                            Last Name
                        </th>
                        <th>
                            First Name
                        </th>

                        <th>
                            Job title
                        </th>

                        <th>
                            Available
                        </th>

                        <th>
                            Photo
                        </th>
                        <th>Action Links</th>
                    </tr>
                </thead>
                @foreach (var item in Model.emps)
            {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>

                            <td>
                                @Html.DisplayFor(x => item.job.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAvailable)
                            </td>
                            <td>
                                @if (item.Photo == "No photo uploaded")
                                {
                                    @Html.DisplayFor(x => item.Photo)
                                }
                                else
                                {<img src="@Url.Content(item.Photo)" alt="@Html.DisplayFor(x => item.Photo)" width="100" />}
                            </td>
                            <td class="">
                                @Html.ActionLink(" Edit", "Edit", new { id = item.ID }, new { @class = "fa fa-pencil btn btn-default btn-primary" }) |
                                @Html.ActionLink(" Details", "Details", new { id = item.ID }, new { @class = " fa fa-search btn  btn-info" }) |
                                @Html.ActionLink(" Delete", "Delete", new { id = item.ID }, new { @class = "fa fa-trash btn btn-default btn-danger" })
                            </td>
                        </tr>
                    </tbody>
                }


            </table>

        </div>
    </div>
>>>>>>> 971db4c0b7ac89e00dc1ad772abd669c8da598e9



@section scripts{

<<<<<<< HEAD
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable();

            $("#skil").change(function () {
                $.ajax({
                    type: "GET",
                    url:'@Url.Action("GetData","Employee")'
                })
            });
        });
    </script>
=======
<script>
    $(document).ready(function () {
        $("#myTable").DataTable();
    });
</script>    
>>>>>>> 971db4c0b7ac89e00dc1ad772abd669c8da598e9

}