@model HRiVote.ViewModels.CanddateViewModel

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="container Back col-sm-offset-1" >
    <h2 class="col-md-6 col-md-offset-5" >List of Candidates</h2>
    @ViewBag.Error
    <p class="col-md-2">
        @Html.ActionLink(" Create New", "Create", null, new { @class = "btn btn-info fa fa-pencil", @style = "border-radius: 12px;padding: 8px 10px;font-size: 15px;" })
    </p>
    <div class="form-group">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Update","Candidate",FormMethod.Post))
        {       
            @Html.AntiForgeryToken()
        <table id="myTable" class="table table-hover table-bordered table-responsive">
            <thead>
                <tr>

                    <th>
                        Last Name
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        CV
                    </th>
                    <th>
                        Interview Date
                    </th>
                    <th>
                        Interview Time
                    </th>
                    <th>
                        Interview Round
                    </th>
                    <th>Action Links</th>
                </tr>
            </thead>
            @foreach (var item in Model.Candidate)
            {
                <tbody>
                    <tr style="border-radius: 12px;padding: 4px 10px;font-size: 13px;">
                       <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                       <td>
                            @if (item.CV == "Cv not Uploaded")
                            {
                                @Html.DisplayFor(x => item.CV)
                            }
                            else
                            {
                                <img src="@Url.Content(item.CV)" alt="@Html.DisplayFor(x => item.CV)" width="100" />
                            }
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.InterviewDate)
                        </td>
                       <td>
                            @Html.DisplayFor(x => item.InterviewTime)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.InterviewRound)
                        </td>
                        <td class="btn-group-sm" style="border-radius: 12px;padding: 4px 10px;font-size: 13px;">
                            @*<a href="@Url.Action("Edit", new { id = item.ID })">
                                    <i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit"></i>
                                    <span class="sr-only">Edit</span>
                                </a>
                                <a href="@Url.Action("Details", new { id = item.ID })">
                                    <i class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="Details"></i>
                                    <span class="sr-only">Details</span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.ID })">
                                    <i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete"></i>
                                    <span class="sr-only">Delete</span>
                                </a>*@

                            @Html.ActionLink(" Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm btn-group-sm fa fa-pencil", @style = "border-radius: 12px;padding: 4px 10px;font-size: 13px;" }) |
                            @Html.ActionLink(" Details", "Index", new { candidateid = item.ID }, new { @class = "btn btn-info btn-sm btn-group-sm fa fa-search", @style = "border-radius: 12px;padding: 4px 10px;font-size: 13px;" }) |
                            @Html.ActionLink(" Update Interview Date/Time", "Index", new { updateid = item.ID }, new { @class = "btn btn-primary btn-sm btn-group-sm fa fa-pencil", @style = "border-radius: 12px;padding: 4px 10px;font-size: 13px;" })
                            <button class="btn btn-danger btn-sm btn-group-sm fa fa-trash js-delete"style="border-radius: 12px;padding: 4px 10px;font-size: 13px;" type="button" data-project-id="@item.ID">Delete</button>
                        </td>
                    </tr>
                </tbody>
            }
            @if (Model.cans != null)
            {

                    @Html.AntiForgeryToken()

                foreach (var items in Model.cans)
                {

                        <tbody>
                            <tr style="border-radius: 12px;padding: 4px 10px;font-size: 13px;">
                               <td>
                                    @Html.DisplayFor(modelItem => items.LastName)
                                </td>
                               <td>
                                    @Html.DisplayFor(modelItem => items.FirstName)
                                </td>
                               <td>
                                    @Html.DisplayFor(modelItem => items.Email)
                                </td>
                               <td>
                                    @Html.DisplayFor(modelItem => items.PhoneNumber)
                                </td>
                               <td>
                                    @if (items.CV == "Cv not Uploaded")
                                    {
                                        @Html.DisplayFor(x => items.CV)
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(items.CV)" alt="@Html.DisplayFor(x => items.CV)" width="100" />
                                    }
                                </td>
                               <td>
                                   <input type="date" class="ui-datepicker-buttonpane" name="Date" id="Date"/>
                                </td>
                               <td>
                                    <input type="time"class="bootstrap-timepicker"name="Time" id="Time" />
                                </td>
                               <td>
                                    @Html.DisplayFor(modelItem => items.InterviewRound)
                                    @Html.HiddenFor(x => items.ID,new { @name = "ID" })
                                </td>
                               <td><input type="submit" class="btn btn-success js-success" data-project-id="" value="Update" /></td>
                            </tr>
                      </tbody>
                }
            }            
        </table>
        }
    </div>

</div>
<br />
<br />
@if (Model.candidate != null)
{
    
        @Html.Partial("_PartialCandidateView",Model.candidate)
  
}
@section scripts{
<script src="~/Scripts/jquery-3.2.1.intellisense.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
    <script>

        $("#myTable").DataTable();

        $("#myTable").on("click", ".js-delete", function () 
        {
            var self = $(this);
            var dialog = bootbox.dialog({
                title: 'Remove',
                message: "<p>Are you sure you want to remove it</p>",
                buttons: {
                    no: {
                        label: "no",
                        className: 'btn-danger',
                        callback: function () {
                            dialog.modal('hide')
                        }
                    },
                    ok: {
                        label: "ok",
                        className: 'btn-default',
                        callback: function () {
                            $.ajax({
                                url: "/api/Candidate/" + button.attr("data-project-id"),
                                method: "DELETE",
                                success: function () {

                                    button.parents("tr").remove();
                                }
                            })

                        }
                    }
                }
            });
        });
     
    </script>
    }

