@model IEnumerable<HRiVote.Models.Candidate>

@{
    ViewBag.Title = "Index";
}
<h2 class="col-md-6 col-md-offset-5">Index</h2>

<p class="col-md-2">
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Candidate", FormMethod.Get))
 {
    <p style="float:right">
        @Html.TextBox("searchString", ViewBag.currentFilter as string)
        <input type="submit" value="Search" style="color:white; background-color:darkgrey"/>
        </p>
 }
@*<div class="table-bordered table-responsive text-center">*@
    <table class="table table-responsive table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewRound)
        </th>
        <th>Action Links</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @{
                    var path = item.CV;
                }
                @if (path == null)
                {
                    path = "missing";
                }
                <img src="@Url.Content(path)" alt="@Html.DisplayFor(x=>item.CV)" width="100" />
                <p> @ViewBag.Message</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewDate)
            </td>
            <td>
                @Html.DisplayFor(x => item.InterviewTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewRound)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ID })">
                    <i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit"></i>
                    <span class="sr-only">Edit</span>
                </a>
                <a href="@Url.Action("Details", new { id = item.ID })">
                    <i class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="Details"></i>
                    <span class="sr-only">Details</span>
                </a>
                <a href="@Url.Action("Delete", new { id = item.ID })">
                    <i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete"></i>
                    <span class="sr-only">Delete</span>
                </a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
                    }

</table>



