@model IEnumerable<HRiVote.Models.OpenPosition>
<br /><br /><br /><br />
<div class="container Back col-sm-offset-1">
    <br />
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <p>
        @Html.ActionLink("Create New", "OpenPosition","",new { @class = "btn btn-primary fa fa-pencil" })
    </p>
    
    <table id="mytable" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartOfJobOpenning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndOfJobOpenning)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOfJobOpenning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfJobOpenning)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdatePossition", new { id = item.ID }, new { @class = "btn btn-primary fa fa-pencil" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info fa fa-search" }) |
                    @if (item.Status == true)
                    {
                        <button class="btn btn-danger fa fa-trash js-delete" data-project-id=" @item.ID"  type="button"> Delete</button>
                    }
                    else
                    {
                        <button class="btn btn-primary fa fa-arrow-up js-update" data-project-id=" @item.ID"  type="button"> Add</button>
                    }
                </td>
            </tr>
        </tbody>
        }

    </table>
</div>
@section scripts{
  <script>
      $(document).ready(function () {
          $("#mytable").DataTable();

          $("#mytable").on("click", ".js-delete", function () {
              var button = $(this);
              $.ajax({
                  url: "/api/Open/" + button.attr("data-project-id"),
                  method: "DELETE",
                  success: function () {
                      button.parents("tr").remove();
                      console.log("Success")
                  }
              })
          });
          $("#mytable").on("click", ".js-update", function () {
              var self = $(this);
              $.ajax({
                  url: "/api/Open/" + self.attr("data-project-id"),
                  method: "PUT",
                  success: function () {
                      self.parents("tr").remove();
                  }
              })
          });
      });
    </script>
    }