@model IEnumerable<HRiVote.Models.OpenPosition>

<div class="container Back col-sm-offset-1" style="border: solid transparent;border-radius: 20px;">
    <br />
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <p>
        @Html.ActionLink("Create New", "OpenPosition","",new { @class = "btn btn-primary fa fa-pencil", @style = "border-radius: 12px;padding: 6px 20px;font-size: 15px;" })
    </p>
    
    <table id="mytable" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartOfJobOpenning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndOfJobOpenning)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tbody>
            <tr style="border-radius: 12px;padding: 4px 10px;font-size: 13px;">
               <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.StartOfJobOpenning)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.EndOfJobOpenning)
                </td>
               <td>
                    @Html.ActionLink("Edit", "UpdatePossition", new { id = item.ID }, new { @class = "btn btn-primary fa fa-pencil", @style = "border-radius: 12px;padding: 4px 10px;font-size: 13px;" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info fa fa-search", @style = "border-radius: 12px;padding: 4px 10px;font-size: 13px;" }) |
                    @if (item.Status == true)
                    {
                        <button class="btn btn-danger fa fa-trash js-delete" style="border-radius: 12px;padding: 4px 10px;font-size: 13px;" data-project-id="@item.ID"  type="button"> Delete</button>
                    }
                    else
                    {
                        <button class="btn btn-primary fa fa-arrow-up js-update" data-project-id="@item.ID" style="border-radius: 12px;padding: 4px 10px;font-size: 13px;"  type="button"> Add</button>
                    }
                </td>
            </tr>
        </tbody>
        }

    </table>
</div>
@section scripts{
  <script>
      $(document).ready(function () {
          $("#mytable").DataTable();

          $("#mytable").on("click", ".js-delete", function () {
              var button = $(this);
              var dialog = bootbox.dialog({
                  title: 'Remove',
                  message: "<p>Are you sure you want to remove it</p>",
                  buttons: {
                      no: {
                          label: "no",
                          className: 'btn-danger',
                          callback: function () {
                              dialog.modal('hide')
                          }
                      },
                      ok: {
                          label: "ok",
                          className: 'btn-default',
                          callback: function () {
                              $.ajax({
                                  url: "/api/Open/" + button.attr("data-project-id"),
                                  method: "DELETE",
                                  success: function () {

                                      button.parents("tr").remove();
                                  }
                              })

                          }
                      }
                  }
              });
          });
          $("#mytable").on("click", ".js-update", function () {
              var self = $(this);
              var dialog = bootbox.dialog({
                  title: 'Remove',
                  message: "<p>Are you sure you want to remove it</p>",
                  buttons: {
                      no: {
                          label: "no",
                          className: 'btn-danger',
                          callback: function () {
                              dialog.modal('hide')
                          }
                      },
                      ok: {
                          label: "ok",
                          className: 'btn-default',
                          callback: function () {
                              $.ajax({
                                  url: "/api/Open/" + button.attr("data-project-id"),
                                  method: "Put",
                                  success: function () {

                                      self.parents("tr").remove();
                                  }
                              })

                          }
                      }
                  }
              });
          });
      });
    </script>
    }