<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HRiVote</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>    
    
        <div class="container header">
            <div class="navbar-header" align="center">
                <img src="~/Managment/Photos/iVoteLogo1200_Transparent1.png" style="padding-left" alt="logo" />
            </div>
            <div class="col-sm-5 col-sm-offset-3">
            </div>
            <ul class="nav navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
        <br /><br />
    <div class="container" style="float:left;">
        <div class="row ">
            <div class="col-sm-3 col-md-1 col-lg-1">
                <div class="sidebar-nav">
                    <div class="nav navbar-inverse navbar-left none" role="navigation">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            @Html.TextBox("m", "Candidate", new { @class = "btn btn-info" })
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.ActionLink(" First Round", "Index", "Candidate", new { id = 1 }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Second Round", "Index", "Candidate", new { id = 2 }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Third Round", "Index", "Candidate", new { id = 3 }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" All Candidate", "Index", "Candidate", new { id = 0 }, new { @class = "fa fa-paper-plane" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            @Html.TextBox("m", "Employees", new { @class = "btn btn-info" })
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.ActionLink(" Employed", "Index", "Employee", new { status = true }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Fired", "Index", "Employee", new { status = false }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" All Employees", "Index", "Employee", "", new { @class = "fa fa-paper-plane" })
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            @Html.TextBox("m", "Job Positions", new { @class = "btn btn-info" })
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.ActionLink(" Open Job Possitions", "Index", "OpenJobPossitions", new { status = true }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Closed Job Possitions", "Index", "OpenJobPossitions", new { status = false }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" All Possitions", "Index", "OpenJobPossitions", "", new { @class = "fa fa-paper-plane" })
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            @Html.TextBox("m", "Job Titles", new { @class = "btn btn-info" })
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.ActionLink(" Active Job Titles", "Index", "Posstions", new { status = true}, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Removed Job Titles", "Index", "Posstions", new { status = false }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Active SKills", "Index", "Posstions", new { skilStatus = true },new { @class="fa fa-paper-plane"})<br />
                                        @Html.ActionLink(" Removed SKills", "Index", "Posstions", new { skilStatus = false }, new { @class = "fa fa-paper-plane" })
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            @Html.TextBox("m", "Calendar", new { @class = "btn btn-info" })
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.ActionLink(" Start Vacation", "OnLeaveDays", "Calendar", new { title = "Vacation" }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Open Sick Day", "OnLeaveDays", "Calendar", new { title = "Sick" }, new { @class = "fa fa-paper-plane" })<br />
                                        @Html.ActionLink(" Official Leave", "OnLeaveDays", "Calendar", new { title = "Official Leave" }, new { @class = "fa fa-paper-plane" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-10 col-lg-10 col-md-offset-1">
                <div class="">
                    @RenderBody()
                    <hr />
                    <footer></footer>
                </div>
            </div>
        </div>
    </div>
            @Scripts.Render("~/bundles/lib")
            @RenderSection("scripts", required: false)
</body>
</html>
