<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HRiVote</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>      
            <div class="container">
                <div class="navbar-header" align="center">
                    <img src="~/Photos/iVoteLogo1200_Transparent1.png"  alt="logo"/>                  
                </div>
                <div class="col-sm-5 col-sm-offset-3">
                    
                </div>
                    <ul class="nav navbar-right">
                       @Html.Partial("_LoginPartial")
                    </ul>        
        </div>  
    <br /><br />
    
    <div class="row">
            <div class="col-sm-3 col-md-1 affix-sidebar">        
            <div class="sidebar-nav">
                <div class="nav navbar-inverse navbar-left" role="navigation">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">                            
                                @Html.ActionLink("Candidates", "Index", "Candidate", null,new { @class = "fa fa-paper-plane" })                                
                            </div>                    
                        </div>
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading">                      
                                @Html.ActionLink("Employees", "Index", "Employee", null,new { @class = "fa fa-paper-plane" })
                            </div>                   
                        </div>
                        <br />

                    </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-9 col-md-10 affix-content">
            <div class="" >              
                @RenderBody()
                <hr />
                <footer>
                   
                </footer>
            </div>
        </div>
    </div>
            
            @Scripts.Render("~/bundles/lib")
            @RenderSection("scripts", required: false)
</body>
</html>
