@model IEnumerable<HRiVote.Models.JobPosition>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<div class="container Back col-sm-offset-3 col-sm-6" style="border: solid transparent;border-radius: 20px;">
    <h2>List</h2>

    <p>
        @Html.ActionLink("Create New", "AddPosition","",new { @class = "btn btn-primary fa fa-pencil", @style = "border-radius: 12px;padding: 4px 10px;font-size: 13px;" })
    </p>
    <table id="table" class="table table-bordered table-bordered ">
        <thead>
            <tr>
                <th class="text-center" width="150">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th width="250" class="text-center"> Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr style="border-radius: 12px;padding: 4px 10px;font-size: 13px;">
                   <td>
                        @Html.ActionLink(item.Title, "Index", "Employee", new { id = item.ID }, new { @class = "fa fa-paperplane" })
                    </td>
                   <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID },new { @class = "btn1 btn-primary fa fa-pencil",@style= "padding: 7px 15px !important; font-size: 15px !important;border-radius: 15px !important;" }) | 
                        @if (item.Status == true)
                        {
                        <button data-project-id="@item.ID" type="button"style="padding: 7px 15px !important; font-size: 15px !important;border-radius: 15px !important" class="btn1 btn-danger fa fa-trash js-delete">Delete</button>
                        }
                        else
                        {
                            <button data-project-id="@item.ID" type="button" style="padding: 7px 15px !important; font-size: 15px !important;border-radius: 15px !important" class="btn1 btn-primary fa fa-arrow-up js-update">Add</button>
                        }
                    </td>
                </tr>
            </tbody>
        }
        

    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#table").DataTable();
            $("#table").on("click", ".js-delete", function () {
                var button = $(this);
                $.ajax({
                    url: "/api/Possitons/" + button.attr("data-project-id"),
                    method: "DELETE",
                    success: function () {
                        button.parents("tr").remove();
                        console.log("Success")
                        
                    }
                })
            });
            $("#table").on("click", ".js-update", function () {
                var button = $(this);
                $.ajax({
                    url: "/api/Possitons/" + button.attr("data-project-id"),
                    method: "PUT",
                    success: function () {
                        button.parents("tr").remove();
                        console.log("Success")
                    }
                })
            });

        });
    </script>
}