@model IEnumerable<HRiVote.Models.JobPosition>

@{
    ViewBag.Title = "Index";
}

<div class="container Back col-sm-offset-3 col-sm-6" style="border: solid transparent;border-radius: 20px;">
    <h2>List</h2>

    <p>
        @Html.ActionLink("Create New", "AddPosition","",new { @class = "btn btn-primary glyphicon glyphicon-pencil", @style = "border-radius: 12px;padding: 4px 10px;font-size: 13px;" })
    </p>
    <table id="table" class="table table-bordered table-bordered ">
        <thead>
            <tr>
                <th class="text-center" width="150">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th width="250" class="text-center"> Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.ActionLink(item.Title, "Index", "Employee", new { id = item.ID }, new { @class = "fa fa-paperplane" })
                    </td>
                    <td>

                        @if (item.Status == true)
                {
                            <button data-project-id="@item.ID" type="button" class="btn btn-danger glyphicon glyphicon-trash js-delete">Delete</button>
                        }
                        else
                        {
                            <button data-project-id="@item.ID" type="button" class="btn btn-primary glyphicon glyphicon-arrow-up js-update">Add</button>
                        }
                    </td>
                </tr>

            }
        </tbody>  

    </table>
</div>

@section scripts{
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.jqueryui.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#table").DataTable();
            $("#table").on("click", ".js-delete", function () {
                var button = $(this);
                var dialog = bootbox.dialog({
                    title: 'Remove',
                    message: "<p>Are you sure you want to remove it</p>",
                    buttons: {
                        no: {
                            label: "Cancel",
                            className: 'btn1 btn-default',
                            callback: function () {
                                dialog.modal('hide')
                            }
                        },
                        ok: {
                            label: "Yes",
                            className: 'btn1 btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/Possitons/" + button.attr("data-project-id"),
                                    method: "DELETE",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                })
                                
                            }
                        }
                    }
                });
               
            });
            $("#table").on("click", ".js-update", function () {
                var button = $(this);
                var dialog = bootbox.dialog({
                    title: 'Remove',
                    message: "<p>Are you sure you want to remove it</p>",
                    buttons: {
                        no: {
                            label: "no",
                            className: 'btn1 btn-danger',
                            callback: function () {
                                dialog.modal('hide')
                            }
                        },
                        ok: {
                            label: "ok",
                            className: 'btn1 btn-default',
                            callback: function () {
                                $.ajax({
                                    url: "/api/Possitons/" + button.attr("data-project-id"),
                                    method: "PUT",
                                    success: function () {

                                        button.parents("tr").remove();
                                    }
                                })

                            }
                        }
                    }
                });
            });
        });
    </script>
}